<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="13778" android:versionName="6.32.0" android:compileSdkVersion="33" android:compileSdkVersionCodename="13" package="com.coffeemeetsbagel" platformBuildVersionCode="33" platformBuildVersionName="13">
    <uses-sdk android:minSdkVersion="25" android:targetSdkVersion="33"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="32"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="com.android.vending.BILLING"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.sec.android.provider.badge.permission.READ"/>
    <uses-permission android:name="com.sec.android.provider.badge.permission.WRITE"/>
    <uses-permission android:name="com.htc.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.htc.launcher.permission.UPDATE_SHORTCUT"/>
    <uses-permission android:name="com.sonyericsson.home.permission.BROADCAST_BADGE"/>
    <uses-permission android:name="com.sonymobile.home.permission.PROVIDER_INSERT_BADGE"/>
    <uses-permission android:name="com.huawei.android.launcher.permission.CHANGE_BADGE"/>
    <uses-permission android:name="com.huawei.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.huawei.android.launcher.permission.WRITE_SETTINGS"/>
    <queries>
        <package android:name="com.android.vending"/>
        <package android:name="com.google.android.feedback"/>
        <package android:name="com.facebook.katana"/>
        <intent>
            <action android:name="com.android.vending.billing.InAppBillingService.BIND"/>
        </intent>
    </queries>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE"/>
    <uses-permission android:name="android.permission.REORDER_TASKS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <permission android:name="com.coffeemeetsbagel.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION" android:protectionLevel="signature"/>
    <uses-permission android:name="com.coffeemeetsbagel.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"/>
    <application android:theme="@style/CmbAppTheme" android:label="@string/app_displayed_name" android:icon="@mipmap/cmb_icon" android:name="com.coffeemeetsbagel.bakery.Bakery" android:allowBackup="false" android:largeHeap="true" android:supportsRtl="true" android:extractNativeLibs="false" android:fullBackupContent="@xml/appsflyer_backup_rules" android:usesCleartextTraffic="true" android:roundIcon="@mipmap/cmb_icon_round" android:appComponentFactory="androidx.core.app.CoreComponentFactory">
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <meta-data android:name="com.facebook.sdk.ClientToken" android:value="@string/facebook_client_token"/>
        <meta-data android:name="com.facebook.sdk.ApplicationName" android:value="@string/app_name"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <meta-data android:name="io.branch.sdk.BranchKey" android:value="@string/branch_metrics_app_key_live"/>
        <meta-data android:name="io.sentry.dsn" android:value="https://4e03cf9c3b21452fb3faaa7f8b40ad62@o1195863.ingest.sentry.io/6403137"/>
        <meta-data android:name="io.sentry.auto-init" android:value="false"/>
        <activity android:theme="@style/Translucent" android:label="@string/app_name" android:name="com.facebook.FacebookActivity" android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize"/>
        <activity android:label="@string/app_displayed_name" android:name="com.coffeemeetsbagel.activities.ActivityLogin" android:exported="true" android:launchMode="singleTop" android:screenOrientation="portrait">
            <intent-filter android:priority="1">
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="cmb" android:host="login" android:pathPattern="/phone"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="cmb" android:host=""/>
                <data android:scheme="cmb" android:host="open"/>
            </intent-filter>
        </activity>
        <activity android:name="com.coffeemeetsbagel.activities.main.ActivityMain" android:exported="true" android:launchMode="singleTask" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="cmb" android:host="chats"/>
                <data android:scheme="cmb" android:host="chat"/>
                <data android:scheme="cmb" android:host="discoverfilters"/>
                <data android:scheme="cmb" android:host="preferences"/>
                <data android:scheme="cmb" android:host="prefs"/>
                <data android:scheme="cmb" android:host="edit_profile_details"/>
                <data android:scheme="cmb" android:host="edit_dating_style"/>
                <data android:scheme="cmb" android:host="likesyou"/>
                <data android:scheme="cmb" android:host="discover"/>
                <data android:scheme="cmb" android:host="boost"/>
                <data android:scheme="cmb" android:host="suggested"/>
                <data android:scheme="cmb" android:host="me" android:path="/boost"/>
                <data android:scheme="cmb" android:host="me" android:path="/"/>
                <data android:scheme="cmb" android:host="more" android:pathPattern="/boost"/>
                <data android:scheme="cmb" android:host="more" android:pathPattern=""/>
                <data android:scheme="cmb" android:host="tips"/>
            </intent-filter>
        </activity>
        <activity android:theme="@style/transparentActivity" android:name="com.coffeemeetsbagel.deeplink.DeepLinkActivity" android:exported="true" android:excludeFromRecents="true" android:launchMode="singleInstance" android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="beanshop" android:host="item"/>
                <data android:scheme="cmb" android:host="shop"/>
                <data android:scheme="cmb" android:host="prompts"/>
                <data android:scheme="cmb" android:host="photos"/>
                <data android:scheme="cmb" android:host="item"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="cmb" android:host="interests" android:pathPattern="/entry"/>
            </intent-filter>
        </activity>
        <activity android:name="com.coffeemeetsbagel.activities.ActivityPhotoSelect" android:screenOrientation="portrait"/>
        <activity android:name="com.coffeemeetsbagel.shop.ShopComponentActivity" android:exported="true" android:screenOrientation="portrait" android:parentActivityName="com.coffeemeetsbagel.activities.main.ActivityMain">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="cmb" android:host="wallet"/>
            </intent-filter>
        </activity>
        <activity android:name="com.coffeemeetsbagel.activities.ActivityCaption" android:screenOrientation="portrait" android:windowSoftInputMode="stateVisible"/>
        <activity android:name="com.coffeemeetsbagel.activities.OutageModeActivity" android:exported="false" android:screenOrientation="portrait"/>
        <activity android:name="com.coffeemeetsbagel.activities.ActivityContactUs" android:screenOrientation="portrait"/>
        <activity android:name="com.coffeemeetsbagel.chat.details.ChatActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" android:parentActivityName="com.coffeemeetsbagel.activities.main.ActivityMain"/>
        <activity android:name="com.coffeemeetsbagel.activities.ActivityPhotoSelectProfile" android:screenOrientation="portrait"/>
        <activity android:name="com.coffeemeetsbagel.activities.ActivityLocation" android:screenOrientation="portrait" android:parentActivityName="com.coffeemeetsbagel.activities.main.ActivityMain"/>
        <activity android:name="com.coffeemeetsbagel.feature.likepassflow.ActivityLikePassFlow" android:screenOrientation="portrait"/>
        <activity android:name="com.coffeemeetsbagel.feature.profile_completion_helper.ProfileCompletionHelperActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.coffeemeetsbagel.activities.ActivitySettings" android:exported="true" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="cmb" android:host="settings"/>
            </intent-filter>
        </activity>
        <activity android:name="com.coffeemeetsbagel.settings.SettingsActivity" android:exported="true" android:screenOrientation="portrait"/>
        <activity android:name="com.coffeemeetsbagel.activities.ActivityProfileEdit" android:exported="true" android:launchMode="singleTask" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="cmb" android:host="me" android:pathPattern="/edit/.*"/>
                <data android:scheme="cmb" android:host="me" android:pathPattern="/edit"/>
            </intent-filter>
        </activity>
        <activity android:name="com.coffeemeetsbagel.activities.ActivityShare" android:exported="true" android:screenOrientation="portrait" android:parentActivityName="com.coffeemeetsbagel.activities.main.ActivityMain">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="cmb" android:host="invite"/>
            </intent-filter>
        </activity>
        <activity android:name="com.coffeemeetsbagel.activities.ActivityOnboardingLocation" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize"/>
        <activity android:name="com.coffeemeetsbagel.feature.discover.search.DiscoverFilterActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.coffeemeetsbagel.feature.instagram.login.InstagramLoginActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.coffeemeetsbagel.feature.chat.features.photo.FullscreenPhotoActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.coffeemeetsbagel.feature.education.EducationActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.coffeemeetsbagel.feature_flag_toggle.ComponentActivityFeatureFlagToggle" android:screenOrientation="portrait"/>
        <activity android:name="com.coffeemeetsbagel.phone_login.PhoneCodeActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" android:parentActivityName="com.coffeemeetsbagel.activities.ActivityLogin"/>
        <activity android:name="com.coffeemeetsbagel.feature.logout.BannedActivity" android:exported="false" android:launchMode="singleTask" android:screenOrientation="portrait"/>
        <activity android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar" android:label="@string/oss_license_title" android:name="com.google.android.gms.oss.licenses.OssLicensesMenuActivity"/>
        <activity android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar" android:name="com.google.android.gms.oss.licenses.OssLicensesActivity"/>
        <activity android:name="com.coffeemeetsbagel.web_view.WebViewComponentActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.coffeemeetsbagel.bagel_profile.BagelProfileComponentActivity" android:exported="true" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="cmb" android:host="me" android:path="/profile"/>
            </intent-filter>
        </activity>
        <activity android:theme="@style/onboarding_flow_theme" android:name="com.coffeemeetsbagel.new_user_experience.OnboardingComponentActivity" android:exported="false" android:screenOrientation="portrait" android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name="com.coffeemeetsbagel.preferences.MatchPreferencesComponentActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.coffeemeetsbagel.products.prompts.selection.presentation.PromptSelectionComponentActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.coffeemeetsbagel.products.prompts.editor.presentation.PromptEditComponentActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize"/>
        <activity android:name="com.coffeemeetsbagel.deactivate.DeactivateScreenComponentActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize"/>
        <activity android:name="com.coffeemeetsbagel.store.premium_upsell.PremiumUpsellComponentActivity" android:exported="true" android:launchMode="singleTask" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" android:parentActivityName="com.coffeemeetsbagel.activities.main.ActivityMain">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="cmb" android:host="subscribe"/>
            </intent-filter>
        </activity>
        <activity android:name="com.coffeemeetsbagel.hidereport.main.HideReportComponentActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize"/>
        <activity android:name="com.coffeemeetsbagel.suggested_history.SuggestedHistoryScreenComponentActivity" android:exported="true" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" android:parentActivityName="com.coffeemeetsbagel.activities.main.ActivityMain"/>
        <activity android:name="com.coffeemeetsbagel.whatsnew.ActivityWhatsNew" android:exported="true"/>
        <service android:name="com.coffeemeetsbagel.services.ServiceApiPhotoDelete" android:exported="false"/>
        <service android:name="com.coffeemeetsbagel.services.ServiceApiPhotoUploadProfile" android:exported="false"/>
        <service android:name="com.coffeemeetsbagel.services.ServiceApiFbAlbum" android:exported="false"/>
        <service android:name="com.coffeemeetsbagel.services.ServiceApiFbAlbums" android:exported="false"/>
        <service android:name="com.coffeemeetsbagel.services.ServiceApiLogin" android:exported="false"/>
        <service android:name="com.coffeemeetsbagel.services.ProfileUpdateJobIntentService" android:permission="android.permission.BIND_JOB_SERVICE" android:exported="false"/>
        <service android:name="com.coffeemeetsbagel.feature.mongoose.sync.MongooseSyncJobService" android:permission="android.permission.BIND_JOB_SERVICE" android:exported="true"/>
        <receiver android:name="com.coffeemeetsbagel.receivers.CmbReceiver" android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>
        <activity android:name="com.google.android.gms.ads.AdActivity" android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>
        <service android:name="com.coffeemeetsbagel.bakery.ManagerNotifications" android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service android:name="com.leanplum.LeanplumPushFcmListenerService" android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <activity android:name="com.coffeemeetsbagel.feature.rlcs.viewer.RlcsViewerActivity"/>
        <activity android:name="com.coffeemeetsbagel.limelight.profile_activity.LikesYouProfileComponentActivityV2"/>
        <provider android:name="com.coffeemeetsbagel.data.CmbContentProvider" android:exported="false" android:authorities="com.coffeemeetsbagel"/>
        <provider android:name="androidx.core.content.FileProvider" android:exported="false" android:authorities="com.coffeemeetsbagel.fileprovider" android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/filepaths"/>
        </provider>
        <service android:name="com.leanplum.ReceiveTransitionsIntentService"/>
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
        <activity android:theme="@style/Persona.Inquiry.Theme" android:name="com.withpersona.sdk2.inquiry.internal.InquiryActivity" android:exported="false" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize"/>
        <provider android:name="com.withpersona.sdk2.inquiry.document.DocumentFileProvider" android:exported="false" android:authorities="com.coffeemeetsbagel.persona.provider" android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/pi2_file_paths"/>
        </provider>
        <meta-data android:name="com.google.mlkit.vision.DEPENDENCIES" android:value="ocr,face,barcode"/>
        <activity android:name="com.facebook.CustomTabMainActivity"/>
        <activity android:name="com.facebook.CustomTabActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="fbconnect" android:host="cct.com.coffeemeetsbagel"/>
            </intent-filter>
        </activity>
        <service android:name="com.google.firebase.components.ComponentDiscoveryService" android:exported="false" android:directBootAware="true">
            <meta-data android:name="com.google.firebase.components:com.google.firebase.perf.FirebasePerfRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.messaging.FirebaseMessagingRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.database.DatabaseRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.auth.FirebaseAuthRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.remoteconfig.RemoteConfigRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.crashlytics.CrashlyticsRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.sessions.FirebaseSessionsRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.analytics.connector.internal.AnalyticsConnectorRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.installations.FirebaseInstallationsRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.datatransport.TransportRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.abt.component.AbtRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.ktx.FirebaseCommonKtxRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
        </service>
        <service android:name="com.leanplum.LeanplumPushFirebaseMessagingService" android:enabled="true" android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <receiver android:name="com.leanplum.LeanplumPushReceiver" android:enabled="true" android:exported="false">
            <intent-filter>
                <action android:name="com.leanplum.LeanplumPushFirebaseMessagingService"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.leanplum.LeanplumJobStartReceiver"/>
        <service android:name="com.leanplum.LeanplumLocalPushListenerService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <activity android:theme="@style/Theme.Translucent.NoTitleBar" android:name="com.clevertap.android.sdk.InAppNotificationActivity" android:configChanges="keyboardHidden"/>
        <activity android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar" android:name="com.clevertap.android.sdk.inbox.CTInboxActivity" android:configChanges="keyboardHidden"/>
        <receiver android:name="com.clevertap.android.sdk.pushnotification.CTPushNotificationReceiver" android:enabled="true" android:exported="false"/>
        <service android:name="com.clevertap.android.sdk.pushnotification.amp.CTBackgroundIntentService" android:permission="android.permission.BIND_JOB_SERVICE" android:exported="false">
            <intent-filter>
                <action android:name="com.clevertap.BG_EVENT"/>
            </intent-filter>
        </service>
        <service android:name="com.clevertap.android.sdk.pushnotification.amp.CTBackgroundJobService" android:permission="android.permission.BIND_JOB_SERVICE" android:exported="false"/>
        <activity android:theme="@style/Theme.Translucent.NoTitleBar" android:name="com.google.android.gms.auth.api.signin.internal.SignInHubActivity" android:exported="false" android:excludeFromRecents="true"/>
        <service android:name="com.google.android.gms.auth.api.signin.RevocationBoundService" android:permission="com.google.android.gms.auth.api.signin.permission.REVOCATION_NOTIFICATION" android:exported="true" android:visibleToInstantApps="true"/>
        <receiver android:name="com.google.android.gms.analytics.AnalyticsReceiver" android:enabled="true" android:exported="false"/>
        <service android:name="com.google.android.gms.analytics.AnalyticsService" android:enabled="true" android:exported="false"/>
        <service android:name="com.google.android.gms.analytics.AnalyticsJobService" android:permission="android.permission.BIND_JOB_SERVICE" android:enabled="true" android:exported="false"/>
        <receiver android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver" android:permission="com.google.android.c2dm.permission.SEND" android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
        </receiver>
        <service android:name="com.google.firebase.messaging.FirebaseMessagingService" android:exported="false" android:directBootAware="true">
            <intent-filter android:priority="-500">
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <activity android:theme="@style/Theme.Translucent.NoTitleBar" android:name="com.google.firebase.auth.internal.GenericIdpActivity" android:exported="true" android:excludeFromRecents="true" android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="genericidp" android:host="firebase.auth" android:path="/"/>
            </intent-filter>
        </activity>
        <activity android:theme="@style/Theme.Translucent.NoTitleBar" android:name="com.google.firebase.auth.internal.RecaptchaActivity" android:exported="true" android:excludeFromRecents="true" android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="recaptcha" android:host="firebase.auth" android:path="/"/>
            </intent-filter>
        </activity>
        <service android:name="com.google.mlkit.common.internal.MlKitComponentDiscoveryService" android:exported="false" android:directBootAware="true">
            <meta-data android:name="com.google.firebase.components:com.google.mlkit.vision.barcode.internal.BarcodeRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.mlkit.vision.face.internal.FaceRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.mlkit.vision.text.internal.TextRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.mlkit.vision.common.internal.VisionCommonRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.mlkit.common.internal.CommonComponentRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
        </service>
        <provider android:name="com.google.mlkit.common.internal.MlKitInitProvider" android:exported="false" android:authorities="com.coffeemeetsbagel.mlkitinitprovider" android:initOrder="99"/>
        <activity android:theme="@style/Theme.Translucent.NoTitleBar" android:name="com.google.android.gms.common.api.GoogleApiActivity" android:exported="false"/>
        <meta-data android:name="com.bumptech.glide.integration.okhttp3.OkHttpGlideModule" android:value="GlideModule"/>
        <receiver android:name="com.google.android.gms.measurement.AppMeasurementReceiver" android:enabled="true" android:exported="false"/>
        <service android:name="com.google.android.gms.measurement.AppMeasurementService" android:enabled="true" android:exported="false"/>
        <service android:name="com.google.android.gms.measurement.AppMeasurementJobService" android:permission="android.permission.BIND_JOB_SERVICE" android:enabled="true" android:exported="false"/>
        <provider android:name="com.google.firebase.provider.FirebaseInitProvider" android:exported="false" android:authorities="com.coffeemeetsbagel.firebaseinitprovider" android:initOrder="100" android:directBootAware="true"/>
        <activity android:theme="@style/Theme" android:name="androidx.test.core.app.InstrumentationActivityInvoker$BootstrapActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity android:theme="@style/Theme" android:name="androidx.test.core.app.InstrumentationActivityInvoker$EmptyActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity android:theme="@style/Theme.Dialog" android:name="androidx.test.core.app.InstrumentationActivityInvoker$EmptyFloatingActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <provider android:name="androidx.startup.InitializationProvider" android:exported="false" android:authorities="com.coffeemeetsbagel.androidx-startup">
            <meta-data android:name="androidx.work.WorkManagerInitializer" android:value="androidx.startup"/>
            <meta-data android:name="androidx.emoji2.text.EmojiCompatInitializer" android:value="androidx.startup"/>
            <meta-data android:name="androidx.lifecycle.ProcessLifecycleInitializer" android:value="androidx.startup"/>
            <meta-data android:name="androidx.profileinstaller.ProfileInstallerInitializer" android:value="androidx.startup"/>
        </provider>
        <service android:name="androidx.work.impl.background.systemalarm.SystemAlarmService" android:enabled="@bool/enable_system_alarm_service_default" android:exported="false" android:directBootAware="false"/>
        <service android:name="androidx.work.impl.background.systemjob.SystemJobService" android:permission="android.permission.BIND_JOB_SERVICE" android:enabled="@bool/enable_system_job_service_default" android:exported="true" android:directBootAware="false"/>
        <service android:name="androidx.work.impl.foreground.SystemForegroundService" android:enabled="@bool/enable_system_foreground_service_default" android:exported="false" android:directBootAware="false"/>
        <receiver android:name="androidx.work.impl.utils.ForceStopRunnable$BroadcastReceiver" android:enabled="true" android:exported="false" android:directBootAware="false"/>
        <receiver android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$BatteryChargingProxy" android:enabled="false" android:exported="false" android:directBootAware="false">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
            </intent-filter>
        </receiver>
        <receiver android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$BatteryNotLowProxy" android:enabled="false" android:exported="false" android:directBootAware="false">
            <intent-filter>
                <action android:name="android.intent.action.BATTERY_OKAY"/>
                <action android:name="android.intent.action.BATTERY_LOW"/>
            </intent-filter>
        </receiver>
        <receiver android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$StorageNotLowProxy" android:enabled="false" android:exported="false" android:directBootAware="false">
            <intent-filter>
                <action android:name="android.intent.action.DEVICE_STORAGE_LOW"/>
                <action android:name="android.intent.action.DEVICE_STORAGE_OK"/>
            </intent-filter>
        </receiver>
        <receiver android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$NetworkStateProxy" android:enabled="false" android:exported="false" android:directBootAware="false">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <receiver android:name="androidx.work.impl.background.systemalarm.RescheduleReceiver" android:enabled="false" android:exported="false" android:directBootAware="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.TIME_SET"/>
                <action android:name="android.intent.action.TIMEZONE_CHANGED"/>
            </intent-filter>
        </receiver>
        <receiver android:name="androidx.work.impl.background.systemalarm.ConstraintProxyUpdateReceiver" android:enabled="@bool/enable_system_alarm_service_default" android:exported="false" android:directBootAware="false">
            <intent-filter>
                <action android:name="androidx.work.impl.background.systemalarm.UpdateProxies"/>
            </intent-filter>
        </receiver>
        <receiver android:name="androidx.work.impl.diagnostics.DiagnosticsReceiver" android:permission="android.permission.DUMP" android:enabled="true" android:exported="true" android:directBootAware="false">
            <intent-filter>
                <action android:name="androidx.work.diagnostics.REQUEST_DIAGNOSTICS"/>
            </intent-filter>
        </receiver>
        <provider android:name="com.facebook.internal.FacebookInitProvider" android:exported="false" android:authorities="com.coffeemeetsbagel.FacebookInitProvider"/>
        <receiver android:name="com.facebook.CurrentAccessTokenExpirationBroadcastReceiver" android:exported="false">
            <intent-filter>
                <action android:name="com.facebook.sdk.ACTION_CURRENT_ACCESS_TOKEN_CHANGED"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.facebook.AuthenticationTokenManager$CurrentAuthenticationTokenChangedBroadcastReceiver" android:exported="false">
            <intent-filter>
                <action android:name="com.facebook.sdk.ACTION_CURRENT_AUTHENTICATION_TOKEN_CHANGED"/>
            </intent-filter>
        </receiver>
        <provider android:name="io.sentry.android.core.SentryInitProvider" android:exported="false" android:authorities="com.coffeemeetsbagel.SentryInitProvider"/>
        <provider android:name="io.sentry.android.core.SentryPerformanceProvider" android:exported="false" android:authorities="com.coffeemeetsbagel.SentryPerformanceProvider" android:initOrder="200"/>
        <service android:name="androidx.camera.core.impl.MetadataHolderService" android:enabled="false" android:exported="false">
            <meta-data android:name="androidx.camera.core.impl.MetadataHolderService.DEFAULT_CONFIG_PROVIDER" android:value="androidx.camera.camera2.Camera2Config$DefaultProvider"/>
        </service>
        <service android:name="androidx.room.MultiInstanceInvalidationService" android:exported="false" android:directBootAware="true"/>
        <service android:name="com.google.android.datatransport.runtime.backends.TransportBackendDiscovery" android:exported="false">
            <meta-data android:name="backend:com.google.android.datatransport.cct.CctBackendFactory" android:value="cct"/>
        </service>
        <provider android:name="com.squareup.picasso.PicassoProvider" android:exported="false" android:authorities="com.coffeemeetsbagel.com.squareup.picasso"/>
        <meta-data android:name="com.google.android.play.billingclient.version" android:value="5.2.0"/>
        <activity android:theme="@style/Theme.Translucent.NoTitleBar" android:name="com.android.billingclient.api.ProxyBillingActivity" android:exported="false" android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize"/>
        <service android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.JobInfoSchedulerService" android:permission="android.permission.BIND_JOB_SERVICE" android:exported="false"/>
        <receiver android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.AlarmManagerSchedulerBroadcastReceiver" android:exported="false"/>
        <receiver android:name="androidx.profileinstaller.ProfileInstallReceiver" android:permission="android.permission.DUMP" android:enabled="true" android:exported="true" android:directBootAware="false">
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.INSTALL_PROFILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.SKIP_FILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.SAVE_PROFILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.BENCHMARK_OPERATION"/>
            </intent-filter>
        </receiver>
        <meta-data android:name="com.android.dynamic.apk.fused.modules" android:value="base"/>
        <meta-data android:name="com.android.stamp.source" android:value="https://play.google.com/store"/>
        <meta-data android:name="com.android.stamp.type" android:value="STAMP_TYPE_STANDALONE_APK"/>
        <meta-data android:name="com.android.vending.splits" android:resource="@xml/splits0"/>
        <meta-data android:name="com.android.vending.derived.apk.id" android:value="2"/>
    </application>
</manifest>
